proxy_pass https://${SENTRY_ORG_SUBDOMAIN}.ingest.sentry.io/api/${SENTRY_PROJECT}/security/?sentry_key=${SENTRY_KEY};
#proxy_ssl_name ${SENTRY_ORG_SUBDOMAIN}.ingest.sentry.io;
proxy_ssl_server_name on;
#proxy_set_header Connection "close";
#proxy_next_upstream off;
#proxy_ssl_session_reuse off; # this is magix not required in prod

# FIXME remove this - just for confirming theories about connection reuse
#proxy_set_header Connection "close";
