name: Test

on:
  push:
  pull_request:

jobs:
  test-misc: # quick, simple checks
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
    - run: docker --version
    - run: docker compose version
    - uses: actions/checkout@v4
    - run: ./test/check-submodules.sh
